.main-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #131921;
    color: white;
    padding: 10px;
}

.amazon-logo {
    width: 100px;
}

.delivery-location {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    width: 180px;
    min-width: 180px;
    padding: auto;
}

.location-icon {
    width: 24px;
    height: 25px;
    margin-top: 9px;
}

.search-bar {
    font-weight: 100;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    width: 54%;
    min-width: 250px;
    margin: auto;
}

.category {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

.search-input {
    height: 30px;
    width: 100%;
    border: 3px solid #ccc;
}

.search-icon {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.search-icon img{
    height: 10px;
    width: 10px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 370px;
    min-width: 370px;
    column-gap: 16px;
}

.language-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language-flag {
    width: 30px;
    height: 20px;
}

.language-current {
    font-size: 14px;
    margin-left: 3px;
    align-items: baseline;
}

.user-greeting {
    font-size: 12px;
    font-weight: 100;
    color: white;
}


.return-text {
    font-size: 12px;
}

.order-text {
    font-size: 14px;
}

.shopping-cart {
    display: flex;
    flex-direction: row;
}

.cart-icon {
    width: 40px;
}

.cart-number {
    position: fixed;
    color: #febd69;
    top: 7px;
    right: 74px;
}
