<div class="main-navbar">
    <img class="amazon-logo" src="../../assets/images/amazon.png" alt="amazon-logo" />
    <div class="delivery-location">
        <img class="location-icon" src="../../assets/images/loc.png" alt="location-icon" />
        <div class="location-text">Delivering to Kazhakkoottam</div>
    </div>
    <div class="search-bar">
        <div class="category">
            All
        </div>
        <input class="search-input" id="search" type="text" placeholder="Search Amazon" />
        <button class="search-icon" type="submit" aria-label="search-button">
            <img src="../../assets/images/search.png" />
        </button>
    </div>

    <div class="navbar-right">
        <div class="language-selector">
            <img class="language-flag" src="../../assets/images/india.jpg" alt="usa-flag" />
            <div class="language-current">
                <span>EN</span>
            </div>
        </div>
        <div class="user-account">
            <div class="user-greeting">Hello, sign in</div>
            <span>Accounts & Lists</span>
        </div>
        <div class="order-actions">
            <div class="return-text">Returns</div>
            <div class="order-text">& Orders</div>
        </div>
        <div class="shopping-cart">
            <div>
                <img class="cart-icon" src="../../assets/images/cart.png" alt="cart" />
                <div class="cart-number">0</div>
            </div>
            <div class="cart-text">Cart</div>
        </div>
    </div>
</div>