.books {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 15px auto;
  border: solid 1px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-img-container {
  background-color: rgba(0, 0, 0, 0.05);
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-img {
  width: 200px;
  height: 200px;
  z-index: -1;
}

.book-price-container {
  display: flex;
  align-items: center;
}

.book-price {
  color: green;
  font-size: 20px;
}

.book-details {
  width: 50%;
  padding: 2%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(232, 255, 232);
}

.book-title {
  margin-top: 10px;
  font-size: 1.8rem;
}

.book-ratings {
  color: #ffa41c;
}

.tax {
  margin-top: 10px;
}

.book-wishlist-button, .book-cart-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.book-cart-button {
  background-color: #64ccc5;
  margin-left: 10px;
}

.book-wishlist-button {
  background-color: #dafffb;
}

.book-details-label {
  padding-top: 30px;
  font-size: 1.4rem;
}

.book-description {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}

.book-discount-value {
  color: red;
  font-size: 1.7rem;
}

.book-normal-price {
  margin-top: 10px;
  font-size: 1.5rem;
}

.book-mrp-price {
  text-decoration: line-through;
}

.divider {
  margin: 15px 0;
}